node_modules
vendor
.git
.env
.env.*
!.env.example
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
tests
.editorconfig
.gitignore
.gitattributes
README.md
CHANGELOG.MD
docs
phpunit.xml
vitest.config.js
